.contenedor{
    width: 30%;
    background-color: white;
    margin: 0 auto;
}
body{
    background-color: black;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
}
.elem-izquierda{
    display: flex;
    
    align-items: center;
    margin-left: 10px;
    
}
.titulo{
   margin-left: 5px;
   font-size: small;
}
.elem-derecha{
    
    margin-right: 10px;
}
.imagen-container{
    
    width: 100%;
    

}
.imagen{
    width: 100%;
}
.cuerpo{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.cuerpo-izq{
    display: flex;
    margin-left: 5px;
}
.cuerpo-der{
    margin-right: 5px;
}
}

